GNNs/Node-Level/runs
GNNs/Node-Level/Errors
GNNs/Node-Level/Checkpoints
GNNs/Node-Level/sumo_dataset/processed
GNNs/Node-Level/models/__pycache__/
GNNs/Node-Level/__pycache__/
GNNs/Node-Level/data_loader/__pycache__/
GNNs/Node-Level/txt_logging